.form {
  display: flex;
  flex-direction: column;
  font-size: 1rem;

  justify-content: center;
  align-items: center;

  width: 28em;
  height: 25em;
  max-width: 100vh;
  padding: 2rem;
  gap: 1rem;

  background: #282b35;
  border-radius: 0.5rem;

  color: white;
}

.input {
  background: none;
  border-radius: 0.4em;
  outline: none;
  border: 2px #9a9ea9 solid;

  padding: 0.5em;
  font-size: 1.2em;
  color: white;
  height: 2em;
  width: 70%;
}

a {
  color: white;
}

@media screen and (max-width: 700px) {
  .form {
    font-size: 0.8rem;

    width: 60vw;
  }
}
