.button {
  background: var(--secondaryAccent);
  color: var(--foreground);
  font-size: 1.2em;
  border-radius: 0.4em;
  outline: none;
  border: none;

  width: 40%;
  height: 3em;
  padding: 0.5em;
  justify-self: center;
  cursor: pointer;
}
