.navbar {
  position: fixed;
  height: 4rem;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  z-index: 8;

  background: #282b35;
}

.navbar > img {
  height: 80%;
  cursor: pointer;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.links {
  margin-right: 1rem;
  position: absolute;
  top: 50%;
  right: 2em;
  transform: translateY(-50%);

  display: flex;

  gap: 1em;
}
